<section>
    <div class="container">
        <div class="row">
            <div class="ol-12 col-md-6 col-sm-12 col-lg-5 copyRight">
                <p>Copyright © 2020 StudentGator All rights reserved.</p>
            </div>
            <div class="ol-12 col-md-6 col-sm-12 col-lg-3 follow">
                <span>Follow Us</span>
                <img src="../../../assets/Images/Icon awesome-facebook-square.svg">
                <img src="../../../assets/Images/Icon awesome-linkedin.svg">
                <img src="../../../assets/Images/Icon awesome-twitter-square.svg">
                <img src="../../../assets/Images/Icon ionic-logo-instagram.svg">
            </div>
            <div class="col-12 col-md-12 col-sm-12 col-lg-3 privcyAndTerm">
                <span class="Term">Terms & conditions</span>
                <span class="privcy">Privacy policy</span>
            </div>
        </div>
    </div>
</section>