<section class="headSection">
  <div class="container">
    <nav class="navbar navSection navbar-expand-md navbar-light ">
      <a class="navbar-brand ">
        <img src="../assets/Images/Group 2.svg" class="img-fluid ">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="#">Home</a>
          </li>
          <li class="nav-item ">
            <a class="nav-link active" routerLink="/Programs">Programs</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">School</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About</a>
          </li>
          <li class="nav-item login">
            <a class="nav-link ">Login</a>
          </li>
        </ul>
      </div>
    </nav>

  </div>
</section>
<router-outlet></router-outlet>
<app-footer></app-footer>